<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Already have a link</h3>
    <form onsubmit="submitBtn(event)">
      <input class="input" type="text" />
      <button>Join room</button>
      <%if(errorMsg){%>
      <div style="color: red"><%=errorMsg%></div>
      <%}%>
    </form>
    <h1>OR</h1>
    <div class="link"></div>
    <button onclick="genBtn()" class="genbtn">Generate lnik</button>
    <script>
      const genBtn = async () => {
        const res = await fetch("http://localhost:3001/sucess", {
          method: "GET",
        });
        const data = await res.json();
        const link = data.link;
        document.querySelector(".link").innerHTML = link;
        document.querySelector(".genbtn").style.display = "none";
      };
      const submitBtn = async (e) => {
        e.preventDefault();
        const url = document.querySelector(".input").value;
        const arr = url.split("/");
        const code = arr[arr.length - 1];
        window.location.href = `/${code}`;
      };
    </script>
  </body>
</html>
