<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .main {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div>
        <h3>Already have a link</h3>
        <br />
        <form onsubmit="submitBtn(event)">
          <input class="input" type="text" />
          <button>Join room</button>
          <%if(errorMsg){%>
          <div style="color: red"><%=errorMsg%></div>
          <%}%>
        </form>
        <br />
        <h1>OR</h1>
        <br />
        <div class="link"></div>
        <button onclick="genBtn()" class="genbtn">Generate lnik</button>
      </div>
    </div>
    <script>
      const genBtn = async () => {
        const res = await fetch("http://localhost:3001/sucess", {
          method: "GET",
        });
        const data = await res.json();
        const link = data.link;
        document.querySelector(".link").innerHTML = link;
        document.querySelector(".genbtn").style.display = "none";
      };
      const submitBtn = async (e) => {
        e.preventDefault();
        const url = document.querySelector(".input").value;
        const arr = url.split("/");
        const code = arr[arr.length - 1];
        window.location.href = `/${code}`;
      };
    </script>
  </body>
</html>
