* {
  margin: 0;
}

.App {
  min-width: fit-content;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background: #312e2b;
}

@media (max-width: 900px) {
  .App {
    border: 0px solid orange;
    min-width: fit-content;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    justify-content: center;
    align-items: flex-start;
    background-color: #312e2b;
  }
}
