.board {
  height: 480px;
  width: 480px;
  border: 0px solid orange;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  /* background-color: #779556; */
}
.cell:hover {
  /* background-color: rgb(173, 255, 148); */
  /* transform: scale(1.05); */
  cursor: grab;
}
.rotate {
  opacity: 0;
}
.rotate:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.2);
}
.resetBtn {
  border: none;
  background-color: rgb(52, 55, 54);
  color: aquamarine;
  text-align: center;
  padding: 10px;
  font-weight: 400;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.resetBtn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.black-cell {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: #779556;
  /* border: 1px solid black; */
}
.white-cell {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: rgb(238 238 210);
}
.png {
  height: 51px;
  width: 51px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 115%;
}
.choose:hover {
  transform: scale(1.25);
  cursor: pointer;

  /* cursor: pointer; */
}
.valid {
  background-color: rgba(202, 106, 106, 0.621);
}
.highlightFrom {
  background-color: #ffff74;
}
.highlightTo {
  background-color: #bbcb2b;
}

@keyframes changeBackground {
  0% {
    background-color: #f94d4dd1;
  }
  100% {
    background-color: #f94d4dd1;
  }
}

.check {
  background-color: #f94d4dd1;
}

@media (min-width: 300px) and (max-width: 500px) {
  .board {
    border: 0px solid #ff00ff;
    height: 320px;
    width: 320px;

    display: grid;
    grid-template-columns: repeat(8, 40px);
    /* background-color: #779556; */
  }
  .cell:hover {
    /* background-color: rgb(173, 255, 148); */
    /* transform: scale(1.069); */
    /* cursor: pointer; */
    cursor: grab;
  }

  .black-cell {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #779556;
    /* border: 1px solid black; */
  }
  .white-cell {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgb(238 238 210);
  }
  .png {
    height: 33px;
    width: 33px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
  }
  .highlightFrom {
    background-color: #ffff74;
  }
  .highlightTo {
    background-color: #bbcb2b;
  }

  @keyframes changeBackground {
    0% {
      background-color: #f94d4dd1;
    }
    100% {
      background-color: #f94d4dd1;
    }
  }

  .check {
    background-color: #f94d4dd1;
  }

  @keyframes changeBackground {
    0% {
      background-color: #ff6666;
    }
    100% {
      background-color: #ff6666;
    }
  }

  .check {
    background-color: #f94d4dd1;
  }
}
@media (min-width: 200px) and (max-width: 299px) {
  .board {
    height: 240px;
    width: 240px;
    display: grid;
    grid-template-columns: repeat(8, 30px);
    /* background-color: #779556; */
  }
  .cell:hover {
    /* background-color: rgb(173, 255, 148); */
    /* transform: scale(1.069); */
    /* cursor: pointer; */
    cursor: grab;
  }

  .black-cell {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: #779556;
    /* border: 1px solid black; */
  }
  .white-cell {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: rgb(238 238 210);
  }
  .png {
    height: 23px;
    width: 23px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
  }
  .highlightFrom {
    background-color: #ffff74;
  }
  .highlightTo {
    background-color: #bbcb2b;
  }

  @keyframes changeBackground {
    0% {
      background-color: #f94d4dd1;
    }
    100% {
      background-color: #f94d4dd1;
    }
  }

  .check {
    background-color: #f94d4dd1;
  }
}
